header,
.container {
    @include outer-container;
    @include clearfix;
}

h2 {
  margin: 50px 0 30px;
}

h3 {
  margin: 40px 0;
}

h4 {
  margin: 40px 0 20px;
}

.modal {
	text-align: center;
	margin: 30px 0 60px;
}

.comment {
	@include span-columns(8);
	@include shift(2);
}