{% block content %} 
  <section class="container">

    <div class="hero">
      <div class="hero-inner">
        <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
    " alt="Logo Image"></a>
        <div class="hero-copy">
          <h1>Short description of Product</h1>
          <p>A few reasons why this product is worth using, who it's for and why they need it.</p>  
        </div>
        <button>Learn More</button>
      </div>
    </div>

    <!-- HTML markup for the section right below this code block -->

    <h3>Say hello to your new framework</h3>

    <ul class="accordion-tabs">
      <li class="tab-header-and-content">
        <a href="#" class="is-active tab-link">Tab Item</a>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Another Tab</a>
        <div class="tab-content">
          <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Third</a>
        <div class="tab-content">
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Last Item</a>
        <div class="tab-content">
          <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
        </div>
      </li>
    </ul>

    <div class="intro-text">
      <h3>Topic Label</h3>
      <h2>Intro Text Heading</h2>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta rerum libero iste saepe.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur consectetur adipisicing elit. Perferendis para mitis eun non ullam atque debitis, illo adipisicing elit. Perferendis para mitis eun non ullam atque debitis, illo. Amet, consectetur adipisicing. <a href="">Read more <span>&#187;</span></a></p>
    </div>


    <div class="grid-items">
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
        <h1>Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
        <h1>Grid Item With an Image</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
        <h1>Another Wide Item</h1>
        <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
        <h1>Last Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
        <h1>Last Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
        <h1>A Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
        <h1>Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
    </div>

    <!--<div class="wrapper-for-content-outside-of-footer">
       Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
    </div>-->

    <footer class="footer-2">
      <div class="footer-logo">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
      </div>
        <ul>
          <li><a href="javascript:void(0)">About</a></li>
          <li><a href="javascript:void(0)">Contact</a></li>
          <li><a href="javascript:void(0)">Products</a></li>
        </ul>

        <div class="footer-secondary-links">
          <ul>
            <li><a href="javascript:void(0)">Terms and Conditions</a></li>
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
          </ul>

          <ul class="footer-social">
            <li><a href="javascript:void(0)">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
              </a></li>
            <li><a href="javascript:void(0)">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
            </a></li>
            <li><a href="javascript:void(0)">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
            </a></li>
          </ul>
        </div>
    </footer>

  </section>
{% endblock %}